<h2>
    <span style="color: #777">Pick up name:</span> <%= order.get('pickupName') %>
</h2>
<p style="margin: 0;">
    <span style="color: #777;">Phone #:</span> <%= order.get('phoneNumber') || 'n/a' %>
</p>

<p style="margin: 0;">
    <span style="color: #777;">Order time:</span> <%=
    ro_getTimezoneTime(order.get('orderedAt'), timezone) %>
</p>
<p style="margin: 5px 0 0 0;">
    <span style="color: #777;">Price:</span> $<%= (order.get('total') + 0).toFixed(2) %>
    <span style="color: #777; margin-left: 2em;">Tax:</span> $<%= (order.get('tax') + 0).toFixed(2)  %>
</p>
<p style="margin: 5px 0 0 0;">
    <span style="color: #777;">Total:</span> $<%= (order.get('total') + 0 + order.get('tax')).toFixed(2) %>
</p>
<p style="margin: 5px 0 0 0;">
    <span style="color: #777;">Store:</span> <%= order.get('store').get('name') %>
</p>

<% if (order.get("pickupLocation")) { %>
<p style="margin: 5px 0 15px 0;">
    <span style="color: #777;">Pickup location:</span> <%=
    order.get("pickupLocation") %>
</p>
<% } %> <% if (order.get("pickupTime")) { %>
<p style="margin: 5px 0 15px 0;">
    <span style="color: #777;">Pickup time:</span> <%=
    ro_getTimezoneTime(order.get("pickupTime"), timezone) %>
</p>
<% } %>

<p>
    <span style="color: #777;">Total Items:</span> <% const numItems =
    order.get('items').reduce((sum, item) => ( sum + item.get('quantity') ), 0);
    var count = 0; print(numItems); %>
</p>

<table style="border: 1px solid silver; margin-top: 15px;">
    <thead>
    <tr style="background: #ddd">
        <th width="30">QTY</th>
        <th>Name</th>
        <!-- <th width="0">Pos / SKU</th> -->
        <th width="80" style="text-align: right;">Price</th>
    </tr>
    </thead>

    <tbody>
    <% _.each(order.get('items'), item => { %>
    <tr style="background: #eee;">
        <th><%= item.get('quantity') %></th>
        <th><%= item.get('menuItem').get('name') %></th>
        <!-- <th><%= ++count + ' of ' + numItems %></th> -->
        <th style="text-align: right">
            <% let result = item.get('menuItem').get('price') || 0 *
            item.get('quantity'); _.each(item.get('options'), option => {
            _.each(option.get('selectedValues'), value => { result +=
            value.get('price'); }) }); if (result) { print('$' + result.toFixed(2));
            } %>
        </th>
    </tr>
    <% _.each(item.get('options'), option => { %>
    <tr>
        <td></td>
        <td
                style="padding: 1px 0; font-weight: 700; font-size: 70%; background: #eef"
                colspan="2"
        >
            <%= option.get('menuItemOption').get('name') %>
        </td>
    </tr>
    <%
    var selectedValues = [];
    var lastAdded;
    _.each(option.get('selectedValues'), value => {
    if (lastAdded && value.id === lastAdded.id) {
    lastAdded.count++;
    } else {
    selectedValues.push(value);
    lastAdded = value;
    lastAdded.count = 1;
    }
    });
    _.each(selectedValues, value => { %>
    <tr>
        <td style="text-align: right;"><% if(value.count > 1) print(value.count + 'x') %></td>
        <td style="padding: 0 0 0 4px;"><%= value.get('name') %></td>
        <!-- <td><%= value.get('sku') || 'n/a' %></td> -->
        <td style="text-align: right;">
            <% if(value.get('price')) {
            const price = value.get('price') * value.count;
            print('$' + price.toFixed(2));
            } %>
        </td>
    </tr>
    <% }); %>
    <% }); %>
    <% if(item.get('instructions')) { %>
    <tr style="background: #ffe;">
        <td></td>
        <td style="font-weight: 700; font-size: 90%; padding: 3px;" colspan="2">
            <%= item.get('instructions') %>
        </td>
    </tr>
    <% } %>
    <% }); %>
    </tbody>
</table>

<div style="padding: 10px; font-weight: 500; font-size: 110%;">
    Thank you for your purchase!
</div>
